<!-- Sitemap for better SEO -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.title | escape }}",
  "url": "{{ site.url }}",
  "description": "{{ site.description | escape }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name | escape }}",
    "url": "{{ site.url }}"
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
